.card {
    position: relative;
    padding: 0;
    margin: 0 auto !important;
    border-radius: 20px;
    overflow: hidden;
    /* max-width: 280px; */
    min-height: 550px;
    max-height: 589px !important;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: gray;
  }